<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Data Export</h3>
            <p class="text-muted m-b-30">Export data to Copy, CSV, Excel, PDF & Print</p>
            <div class="table-responsive">
                <table id="example23" class="display table table-hover table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>Firm</th>
                            <th>Physical Address</th>
                            <th>Telephone</th>
                            <th>Box Address</th>
                            <th>Sector</th>
                            <th>District</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Firm</th>
                            <th>Physical Address</th>
                            <th>Telephone</th>
                            <th>Box Address</th>
                            <th>Sector</th>
                            <th>District</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{# each wsaipData}}
                        {{wsaipData.interviewee}}
                        <tr class='clickable-row' data-href='wsaip/data/{{_id}}'>
                            <td>{{member.company_name}}</td>
                            <td>{{member.physical_address}}</td>
                            <td>{{member.telephone_number}}</td>
                            <td>{{member.box_number}}</td>
                            <td>{{member.sector}}</td>
                            <td>{{member.district}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Geographical Representation</h3>
            <button class="export">Click me</button>
            {{!-- <a onclick="export(this)" class="export">Export coordinates</a> --}}
            <div id="map_2" class="gmaps"></div>
        </div>
    </div>
</div>

