<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ title }}</h4> </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box p-0">
            <!-- .left-right-aside-column-->
            <div class="page-aside">
                <!-- .left-aside-column-->
                <div class="left-aside">
                    <div class="scrollable">
                        <ul class="list-style-none">
                            <li class="box-label"><a href="javascript:void(0)">Concerns <span>({{member.concerns.length}})</span></a></li>
                            <li class="divider"></li>  
                        </ul>
                    </div>
                </div>
                <!-- /.left-aside-column-->
                <div class="right-aside">
                    <div class="right-page-header">
                        <div class="pull-right">
                            <input type="text" id="demo-input-search2" placeholder="search contacts" class="form-control">
                        </div>
                        <h3>{{title}} Concerns</h3> </div>
                    <div class="clearfix"></div>
                    <div class="scrollable">
                        <div class="table-responsive">
                            <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-paging="true" data-paging-size="5">
                                <thead>
                                    <tr>
                                        <th>Logged in On</th>
                                        <th>Concern</th>
                                        <th>Logged In By</th>
                                        <th>Response</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{# each member.concerns}}
                                    <tr>
                                        <td>{{formatDate loggedInOn day="numeric" month="long" year="numeric"}}</td>
                                        <td>{{concern}}</td>
                                        <td>{{loggedInBy}}</td>
                                        <td>{{solution}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New</button>
                                        </td>
                                        <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title" id="myModalLabel">{{title}}</h4> </div>
                                                    <form action="/membership/{{member._id}}/concerns" method="post">
                                                    <div class="modal-body">
                                                        <from class="form-horizontal form-material">
                                                            <div class="form-group">
                                                                <div class="col-md-12 m-b-20">
                                                                    <label class="col-md-12" for="date">Raised On:</label>
                                                                    <input type="date" class="form-control" placeholder="Raised On" name="date" id="date"> </div>
                                                                <div class="col-md-12 m-b-20">
                                                                    <label class="col-md-12" for="description">Short Description:</label>
                                                                    <textarea type="" class="form-control" placeholder="Concern" rows="5" name="concern"> </textarea></div>
                                            
                                                            </div>
                                                        </from>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                                                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                    </form>
                                                    
                                                </div>
                                                <!-- /.modal-content -->
                                            </div>
                                            <!-- /.modal-dialog -->
                                        </div>
                                        <td colspan="7">
                                            <div class="text-right">
                                                <ul class="pagination"> </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- .left-aside-column-->
            </div>
            <!-- /.left-right-aside-column-->
        </div>
    </div>
</div>
