 <!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Membership Registry</h4> </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            {{!-- <h3 class="box-title m-b-0">Membership List</h3> --}}
            <h4 class="card-title">Membership list</h4>
            <h6 class="card-subtitle"></h6>
            <a href="membership/upload" type="button" class="btn btn-rounded btn-default btn-outline m-t-10 float-right" >Add New Contact</a>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive">
                <table id="myTable" class="display nowrap table table-hover table-striped" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Contact Person</th>
                            <th>Contact</th>
                            <th>Location</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody class="fixed-table-body">
                        <td>Steel & Tube</td>
                        <td>Nilax</td>
                        <td>077488924</td>
                        <td>Banda</td>
                        <td>
                           <div class="btn-group dropdown m-r-10">
                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default btn-outline dropdown-toggle waves-effect waves-light" type="button">Action<span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu animated flipInY">
                                    <li><a href="#">Edit</a></li>
                                    <li><a href="#">Details</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                        {{# each orders}}
                        <tr>
                            {{!-- <td>{{ material.title }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ quantity }}</td>
                            <td>{{ placedBy }}</td>
                            <td>{{formatRelative placedOn }}</td> --}}
                        </tr>
                        {{/each}}
                    </tbody>
                    <br>
                    <br>
                </table>
            </div>
        </div>
    </div>
</div>